<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzzms.bsp.dao.urss.UserRoleMapper">
	<resultMap id="BaseResultMap" type="com.jzzms.bsp.model.urss.UserRole">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="USER_ID" jdbcType="BIGINT" property="userId" />
		<result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
	</resultMap>
  
	<insert id="save" parameterType="com.jzzms.bsp.model.urss.UserRole">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
          	SELECT LAST_INSERT_ID() AS ID    
    	</selectKey>  
	    insert into URSS_USER_ROLE (
	    	USER_ID,
	    	ROLE_ID
	    	)
	    values (
	    	#{id,jdbcType=BIGINT}, 
	    	#{userId,jdbcType=BIGINT},
	    	#{roleId,jdbcType=BIGINT}
	      )
	</insert>
  
	<select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  		select * from URSS_USER_ROLE where ROLE_ID = #{roleId}
	</select>
  
	<delete id="delete" parameterType="java.lang.Integer">
  		delete from URSS_USER_ROLE where ROLE_ID = #{roleId,jdbcType=BIGINT}
	</delete>
  
	<update id="update" parameterType="com.jzzms.bsp.model.urss.UserRole">
	    update URSS_USER_ROLE
		<set>
			<if test="entityMap.userId != null">
        	USER_ID = #{entityMap.userId,jdbcType=BIGINT}
			</if>
			<if test="entityMap.roleId != null">
        	ROLE_ID = #{entityMap.roleId,jdbcType=BIGINT}
			</if>
		</set>
    	where ID = #{id,jdbcType=BIGINT}
	</update>
  
	<select id="find" parameterType="com.jzzms.framework.orm.query.ZzMsCriterion" resultMap="BaseResultMap">
  		SELECT * FROM URSS_USER_ROLE WHERE 1=1 ${whereSqlString}
		<if test="orderBy != null">
  			${orderBySqlString}
		</if>
	</select>
  
	<select id="count" parameterType="com.jzzms.framework.orm.query.ZzMsCriterion" resultType="java.lang.Integer" >
  		SELECT COUNT(ROLE_ID) FROM URSS_USER_ROLE WHERE 1=1 ${whereSqlString} 
	</select>
</mapper>